<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cutesys.bibleapp">

    <uses-permission
        android:name="android.permission.VIBRATE" />

    <uses-permission
        android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".HomeActivity"/>
        <activity android:name=".Alarm.AlarmMe"
            android:theme="@style/AlarmAppTheme"></activity>

        <activity
            android:name=".Alarm.EditAlarm"
            android:label="Edit alarm"
            android:theme="@style/AlarmAppTheme"/>

        <activity
            android:name=".Alarm.AlarmNotification"
            android:label="Alarm notification"
            android:theme="@style/AlarmAppTheme"/>

        <activity
            android:name=".Alarm.Preferences"
            android:label="Settings"
            android:theme="@style/AlarmAppTheme"/>

        <activity
            android:name=".Alarm.About"
            android:label="About"
            android:theme="@style/AlarmAppTheme"/>
        <activity android:name=".SubClasses.ViewReview"></activity>
        <receiver
            android:name=".Alarm.AlarmReceiver"
            android:process=":remote" />

        <receiver android:name=".Alarm.BootCompletedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
    </application>

</manifest>